.logo {
    width: 100px;
    height: auto;
    left: auto;
    margin-left: -10px !important;
    margin-bottom: 30px;
}

.title {
    font-family: Merriweather-700, serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #322f56;
}

.title-1,
.title-2 {
    font-family: Montserrat, sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #322f56;
}

.alert-pesan {
    background-color: #244295 !important;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: white;
    border: 1px solid #244295;

}

.alert-failed,
.alert-error {
    background-color: #E32E22 !important;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #E32E22;
}

.btn-login {
    margin-top: 30px;
    margin-left: 15px;
    background-color: #244295;
    font-family: Montserrat, sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: white;
    width: 345px;
    cursor: pointer;
}

.btn-login:hover {
    color: white;
    background-color: #1f3980;
}

/* Form Create Ticket */

* {
    box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
    margin-left: 15px;
    width: 345px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 2px solid #244295;
    box-shadow: 0 4px 8px #244295;
}

label {
    margin-left: 15px;
    font-family: Montserrat, sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #322f56;
    display: inline-block;
}

.col-25 {
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }

    input[type="text"],
    select,
    textarea {
        margin-left: 15px !important;
    }

    label {
        float: left !important;
        margin-bottom: 0.5px !important;
    }

    .btn-login {
        margin-left: 15px !important;
    }
}

/* End Form Create Ticket */